:root {
  --primary: #315194;
  --secondary: #7f97ca;
  --accent: #9c27b0;
  --yellow: #f7b70b;
  --dark: #424242;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #e0e0e0;
  --warning: #f2c037;
  --background-page: #fffae1;
  --background-card: #e3effb;
  --mobile-max-width: 720px;
  --mobile-min-width: 320px;
  --border-radius: 12px;
}
a {
  text-decoration: none;
  color: var(--q-blue-lighter);
  transition: all 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.q-btn {
  height: 56px;
  border-radius: 10px;
}

.q-field__control {
  border-radius: 12px !important;
  background-color: var(--white);
  font-size: 16px;
}

.q-btn--form {
  width: 165px;
}

.btn-link {
  cursor: pointer;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline !important;
}

.btn__label {
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0px;
  width: 6px;
  opacity: 0.5;
}

* {
  scrollbar-color: darkgrey transparent !important;
  scrollbar-width: thin !important;
}

.q-field--float .q-field__label {
  transform: translateY(-60%) scale(0.75) !important;
}
.max-width {
  width: 100%;
}
