:root {
  --background: #f3f3f3;
  --background-card: #e3effb;
  --q-blue-lighter: #0070f0;
  --text-color: #212121;
  --yellow: #f7b70b;
  --red: #dd0000;
  --green: #00dd00;
  --black: #313131;
  --white: #fff;
  --mobile-max-width: 720px;
  --mobile-min-width: 320px;
  --border-radius: 12px;
}
a {
  text-decoration: none;
  color: var(--q-blue-lighter);
  transition: all 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.q-btn {
  border-radius: 10px;
}

.q-field__control {
  border-radius: 12px !important;
  background-color: var(--white);
  font-size: 16px;
}

.q-btn--form {
  width: 165px;
}

.btn-link {
  cursor: pointer;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline !important;
}

.btn__label {
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0px;
  width: 6px;
  opacity: 0.5;
}

* {
  scrollbar-color: darkgrey transparent !important;
  scrollbar-width: thin !important;
}

.q-field--float .q-field__label {
  transform: translateY(-60%) scale(0.75) !important;
}
.max-width {
  width: 100%;
}
