.heading {
  &-1 {
    font-size: 34px;
    margin: 20px 0px;
    font-weight: 300;
  }
  &-2 {
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 300;
  }
  &-2_bold {
    font-size: 17px;
    margin: 20px 0px;
    font-weight: 600;
  }
  &-3 {
    font-size: 17px;
    margin: 20px 0px;
    font-weight: 300;
  }
  &-3_bold {
    font-size: 17px;
    margin: 20px 0px;
    font-weight: 600;
  }
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}