//colors
$color_default: #172b4d;
$color_primary: #5E72E4;
$color_secondary: #8392AB;
$color_info: #11CDEF;
$color_success: #2dce89;
$color_danger: #b91c1c;
$color_warning: #FB6340;
$color_white: #ffffff;
$color_gray: #ac9999;


//gradients
$gradient_default: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
$gradient_primary: linear-gradient(124deg, #5E72E4 -1.8%, #825EE4 105.23%);
$gradient_danger: linear-gradient(338.54deg, #F55C3A 31.89%, #F53B58 61.42%);
$gradient_warning: linear-gradient(91.81deg, #FBB140 1.1%, #FB6340 99.77%);
$gradient_blue: linear-gradient(121.78deg, #11CDEF 9.06%, #1171EF 88.15%);
$gradient_green: linear-gradient(338.08deg, #2DCEC6 27.53%, #2DCE94 61.45%);
$gradient_gray: linear-gradient(263.35deg, #CED4DA 24.73%, #EBEFF4 86.57%);
$gradient_black: linear-gradient(124deg, rgba(33, 34, 41, 0.6) -1.8%, rgba(33, 37, 41, 0.6) 105.23%);

//fonts
$default_font: 'Open Sans', sans-serif;
